<h1>Show Page</h1>

<p><strong>Title : </strong><%= @article.title%></p>
<p><strong>Description : </strong><%= @article.description %></p>

<span><%= link_to "Edit", edit_article_path(@article) %></span> |
<span><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure"}%> </span> |
<span><%= link_to "All Article", articles_path %></span>